.crimson-1 { background-color: #6b1e23; }
.crimson-2 { background-color: #2c0f12; }

.blue-1 { background-color: #0f2027; }
.blue-2 { background-color: #2c5364; }

.charcoal-1 { background-color: #47484c; }
.charcoal-2 { background-color: #1e2023; }
.charcoal-3 { background-color: #4c4e51; }
.charcoal-4 { background-color: #1e1f22; }
